<center>
	<%= image_tag "logo.png" %><br/>
	Дата: <%= Time.now %>
	<h3>
		Запрос<br/>на определение стоимости финансовой гарантии
	</h3>
</center>
<div class="row">
	<%= form_for( @zapros, :url => {:action => 'create'}) do |f| %>

		Наименование товара*: <%= f.text_field :naim %><br/>

		Код товара:
		<%= f.select :code, {"УКТ ВЭД" => 1, "ГНГ" => 2, "ЕТ СНГ" => 3} %><br/>

		Таможенный режим:
		<%= f.select( :code, {"транзит" => 1,
												 "импорт" => 2,
												 "временный ввоз" => 3,
												 "экспорт" => 4,
												 "реэкспорт" => 5,
												 "переработка на территории Украины" => 6,
												 "переработка за пределами территории Украины" => 7,
												 "другое" => 8
												}, :class => "input-control select") %><br/>
		Вид транспорта:
		<%= f.select :code, {"авто" => 1,
												 "ж/д" => 2,
												 "водный" => 3,
												 "авиа" => 4,
												 "трубопроводный" => 5,
												} %><br/>
		Количество товара:<br/>


		Стоимость товара:
		<%= f.select :code, {"USD" => 1,
											 "EURO" => 2,
											 "UAH" => 3,
											 "другая валюта" => 4,
											} %><br/>

		Маршрут движения:<br/>

		Частота перевозок:<br/>
	<% end  %>
</div>