<center>
	<%#= image_tag "logo.png" %>
	<h2>
		<!-- <strong> -->
			Запрос<br>на определение стоимости финансовой гарантии
		<!-- </strong> -->
	</h2>
</center>

<fieldset class="span11 offset3">
	<center><h5>Дата: <%= Time.now %></h5>(* - поля обязательные для заполнения)</center>
	<br/>
	<div class="row">
		<div class="span11">
			<%= form_for( @zapros, :url => {:action => 'create'}) do |f| %>
				
				<div class="grid">
					<div class="row">
						<div class="span3"><h5>Наименование товара*:</h5></div>
						<div class="input-control text span5">
					 		<%= f.text_field :naim %>
					 	</div>
					</div>

					<div class="row">
						<div class="span3"><h5>Код товара*:</h5></div>
					 	<div class="input-control select span5">
					 		<%= f.select :code, {"УКТ ВЭД" => 1, "ГНГ" => 2, "ЕТ СНГ" => 3} %>
					 	</div>
				 	</div>
				
					<div class="row">
						<div class="span3"><h5>Таможенный режим*:</h5></div>
				
						<div class="input-control select span5">
					 		<%= f.select( :code, {"транзит" => 1,
																 "импорт" => 2,
																 "временный ввоз" => 3,
																 "экспорт" => 4,
																 "реэкспорт" => 5,
																 "переработка на территории Украины" => 6,
																 "переработка за пределами территории Украины" => 7,
																 "другое" => 8
																}, :class => "input-control select") %>
					 	</div>
				 	</div>

					<div class="row">
						<div class="span3"><h5>Вид транспорта*:</h5></div>
						<div class="input-control select span5">
					 		<%= f.select :code, {"авто" => 1,
																 "ж/д" => 2,
																 "водный" => 3,
																 "авиа" => 4,
																 "трубопроводный" => 5,
																} %>
					 	</div>
				 	</div>

					<div class="row">
						<div class="span3"><h5>Количество товара*:</h5></div>
				 	</div>
				 	<div class="row">
						<div class="span5">1) Основные еденицы измерения:</h4></div>
						<div class="input-control text span2">
					 		<%= f.text_field :koltov %>
					 	</div>
						<div class="span5">2) Дополнительные еденицы измерения:</div>
						<div class="input-control text span2">
					 		<%= f.text_field :koltov %>
					 	</div>
				 	</div>

					<div class="row">
							<ul>
								<li>Для крепких спиртных напитков – количество бутылок, емкость, процентное содержание спирта.</li>
								<li>Для алкоголя -  количество бутылок, емкость.</li>
								<li>Для автомобилей – марка, дата выпуска, объем двигателя.</li>
								<li>Табачные изделия – сигары, сигареты – количество штук.</li>
								<li>Табак – кг.</li>
								<li>Нефтепродукты – фактурная стоимость.</li>
								<li>Другие товары – количественные характеристики (кг, тонны, шт и т.д.)</li>
							</ul>
					</div>
					<div class="row">
						<div class="span2"><h5>Стоимость товара*:</h5></div>
						<div class="input-control select span2">
					 		<%= f.select :code, {"USD" => 1,
															 "EURO" => 2,
															 "UAH" => 3,
															 "другая валюта" => 4,
															} %>
					 	</div>
				  </div>
					 	<div class="row">
						 	<div class="span3">1) За еденицу товара:</div>
						 	<div class="input-control text span2">
						 		<%= f.text_field :path_ryhy %>
						 	</div>
					 	</div>
					 	<div class="row">
						 	<div class="span3">2) Всего:</div>
						 	<div class="input-control text span2">
						 		<%= f.text_field :path_ryhy %>
						 	</div>
					 	</div>
				 	

					<div class="row">
						<h5>Маршрут движения (таможенный орган отправления Украины - таможенный орган назначения Украины):</h5>
						<div class="input-control text span10">
					 		<%= f.text_field :path_ryhy %>
					 	</div>
					</div>
				
					<div class="row">
						<h5>Частота перевозок и объемы(в месяц, в квартал):</h5>
						<div class="input-control text span10">
					 		<%= f.text_field :chastota %>
					 	</div>
					</div>
			 		
			 		<div class="row">
						<div class="span2" style="width: 150px;"><h5>Контактное лицо*:</h5></div>
						<div class="input-control text span3" style="margin-right: 50px;">
					 		<%= f.text_field :fio %>
					 	</div>
					 	<div class="span1" style="width: 100px;"><h5>Должность*:</h5></div>
						<div class="input-control text span3" >
					 		<%= f.text_field :rank %>
					 	</div>
				 	</div>

				 	<div class="row">
						<div class="span2" style="width: 150px;"><h5>Телефон*:</h5></div>
						<div class="input-control text span3" style="margin-right: 50px;">
					 		<%= f.text_field :phone %>
					 	</div>
					 	<div class="span1" style="width: 100px;"><h5>Email*:</h5></div>
						<div class="input-control text span3">
					 		<%= f.text_field :email %>
					 	</div>
				 	</div>

			 	</div>
			

			<h5>Прикрепить файл</h5>
			<%= file_field_tag 'upload' %>
			( .doc, docx, txt, xls, xlsx, pdf, jpg )
			<br/>
			<br/>
			<div class="row">
				<h5>Дополнительная информация, коментарии:</h5>
				<center>
				<div class="span8">
					<div class="input-control textarea">
						<textarea>
						</textarea>
					</div>
				</div>
			</center>
			</div>
			<br/>
			<br/>

			<div class="place-right" style="margin-right: 70px;">
				<button class="default">Отправить</button>
				<button>Отмена</button>
			</div>
			
			<% end  %>
		</div>
	</div>
</fieldset>
<br/>
<br/>
<br/>
