<div class="page-footer" >
    <div class="inner">
        <br/>
        <div class="row">
                <ul class="footer-menu">
                    <li><b><%= t 'index.menu.partners' %></b>
                        <ul class="footer-submenu">
                            <li><a href="/page/presentation"><%= t 'secondary.menu.present' %></a></li><br>
                            <li><a href="/page/partners"><%= t 'secondary.menu.partners' %></a></li><br>
                            <!-- <li><a href="/page/represent"><%#= t 'secondary.menu.represent' %></a></li><br> -->
                            <li><a href="/page/become_partner"><%= t 'secondary.menu.bec_part' %></a></li><br>
                        </ul>
                    </li>
                    <li style="margin-left: 40px;"><b><%= t 'service.title' %></b>
                        <ul class="footer-submenu">
                            <li><a href="/page/singleg"><%= t 'service.menu.single' %></a></li><br>
                            <li><a href="/page/multig"><%= t 'service.menu.multi' %></a></li><br>
                            <li><a href="/page/geng"><%= t 'service.menu.general' %></a></li><br>
                        </ul>
                    </li>
                    <li style="margin-left: 40px;"><b><%= t 'addinfo.title' %></b>
                        <ul class="footer-submenu">
                            <li><%= link_to "#{t 'addinfo.menu.faq'}", :controller => "page", :action => 'faq' %></li><br>
                            <li><%= link_to "#{t 'addinfo.menu.rules'}", "/page/zakon"%></li><br>
                            <li><%= link_to "#{t 'addinfo.menu.repr'}", "/page/represent"%></li><br>
                            <li><%= link_to "#{t 'addinfo.menu.ask'}", "/ask/new"%></li><br>
                        </ul>
                    </li>
                    <li class="place-right fg-color-orange">
                        <a href="/page/partners_login" style="font-weight: bold;">
                            <%= t 'part_zone.title' %>
                        </a>
                    </li>
                </ul>
                <br><br><br><br><br><br>
                <hr width="100%">
                <div class="place-left">
                    <p class="tertiary-secondary-text"><%= t 'index.footer_title' %> &copy; </b>2012</p>
                </div>
                <div class="place-right">
                    <p class="tertiary-secondary-text" align="left"><b><u><%= t 'index.footer_contacts' %>:</u></b>
                        <br><%= t 'index.sub_adress' %><br>
                        <%= t 'index.adress' %><br>
                        <span class="icon-contact"></span>+38 044 500 92 68<br>
                        <span class="icon-documents-1"></span>+38 044 581 08 68<br>
                        <span class="icon-vibrate-1"></span>+38 067 332 10 40<br>
                        <span class="icon-mail"></span><a href="mailto:dtg@dtg.kiev.ua" class="tertiary-secondary-text">dtg@dtg.kiev.ua</a><br>
                        <a class ="hrf" href="http://facebook.com/dontransg" target="_blank"><i class="b-share-icon b-share-icon_facebook"></i></a>
                        <br>
                    </p>
                </div>
        </div>
    </div>
</div>