<%= render 'shared/about_menu' %>

<div class="page-region">
    <div class="page-region-content">
        <div class="span9">
            <h2><%= t 'about.title' %></h2>
            <p align="justify">
            	<%= t 'about.p1' %>
            </p>
            <p align="justify">
              <%= t 'about.p2' %>
            </p>
            <p  align="justify">
              <%= t 'about.p3' %>
            </p>
            <p align="justify">
              <%= t 'about.p4' %>
            </p>
            <p align="justify">
              <%= t 'about.p5' %>
            </p>
            <p align="justify">
              <%= t 'about.p6' %>
            </p>
        </div>
    </div>
</div>