<%= render 'shared/about_menu' %>

<div class="page-region">
    <div class="page-region-content">
        <div class="span9" align="justify">
        <h2><%= t 'htb.title' %></h2>
            <p >
            	<%= t 'htb.p1' %>
            </p>
            <p>
                <%= t 'htb.p2' %>
            </p>
            <p>
                <%= t 'htb.p3' %>
            </p>
            <br>
            <h3 align="center"><%= t 'htb.footer' %></h3>
        </div>
    </div>
</div>