<br/>
<br/>
<div class="page">
  <div class="page-region-content">
  	<div class="grid">
  		<div class="row">
  			<% @contacts.each do |c| %>
					<div class="span5">
						<b><%= c.unit %></b><br/>
						<h4><%= c.rank %></h4>
						<em><%= c.fio %></em><br/><br/>
						<!-- ################################################### -->
						<% if c.mobile1 != nil then  %>
							<span class="icon-contact"></span><%= c.mobile1 %>
							<% if c.mobile2 != nil then %>
								,<%= c.mobile2 %><br>
							<% else %>
								<br/>
							<% end  %>		
						<% end  %>
						<!-- ################################################### -->
						<% if c.phone_g1 != nil then  %>
							<span class="icon-contact"></span><%= c.phone_g1 %>
							<% if c.phone_g2 != nil then %>
								,<%= c.phone_g2 %><br>
							<% else %>
								<br/>
							<% end  %>		
						<% end  %>
						<!-- ################################################### -->
						<span class="icon-contact"></span><%= c.skype %><br/>
				    <!-- ################################################### -->
				    <% if c.email1 != nil then %>
				    	<span class="icon-mail"></span><a href="mailto:<%= c.email1 %>" class="tertiary-secondary-text"><%= c.email1 %></a><br/>
				    <% end %>
				    <!-- ################################################### -->
				    <% if c.email2 != nil then  %>
				    	<span class="icon-mail"></span><a href="mailto:<%= c.email2 %>" class="tertiary-secondary-text"><%= c.email2 %></a>
				   	<% end %>
					</div>
				<% end  %>	
			</div>
		</div>	
  </div>
</div>

