<div class="page-sidebar" style="width:225px;">
    <ul style="overflow: visible;">
       <%= render 'shared/add_info_menu' %>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <h2><%= t 'addinfo.title' %></h2>
        <div class="row">
            <div class="span4">
                <p align="justify">
                    <%= t 'addinfo.text' %>
                </p>
            </div>
            <div class="span1">
                <%= link_to (image_tag "railroad.jpg"), "/images/railroad_big.jpg", :target => "_blank" %>
                <%= link_to (image_tag "tpp.jpg"), "/images/autoroad_big.jpg", :target => "_blank" %>
            </div>
        </div>
        <br>
        <div class="row">
            <center>
            <%= link_to "#{t 'addinfo.ask_q'}",
                {:controller => "ask", :action => "new"}, :class=>"button big bg-color-blueDark", :style => "height: 10px; color: white;" %>
            </center>
            <br>
        </div>
    </div>
</div>