<div class="page-sidebar" style="width:225px;">
    <ul style="overflow: visible;">
        <li class="sticker sticker-color-blueDark" style="font-size:10pt;">
            <%= link_to "Частые вопросы", :controller => "page", :action => 'faq' %>
        </li>
        <li class="sticker sticker-color-blue"style="font-size:10pt;">
            <%= link_to "Нормативно-правовые акты", :controller => "page", :action => 'zakon' %>
        </li>
        <li class="sticker sticker-color-blue"style="font-size:10pt;">
            <%= link_to "Таможенный Кодекс 2012", :controller => "page", :action => 'customs_zak' %>
        </li>
        <li class="sticker sticker-color-blue"style="font-size:10pt;">
            <%= link_to "Расчет таможенных платежей", :controller => "page", :action => 'cust_count' %>
        </li>
        <li class="sticker sticker-color-blue"style="font-size:10pt;">
            <%= link_to "Таможенная карта", :controller => "page", :action => 'map' %>
        </li>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="grid">
            <h2>Дополнительная информация</h2>
            <div class="row">
                <div class="span4">
                    <p align="justify">
                        Предоставление таможенным орга- нам обеспечения уплаты таможенных платежей является обязательным при ввозе на таможенную территорию Украины и/или перемещении террито- рией Украины проходящим и внутренним транзитом товаров согласно перечня, утвержденного Кабинетом Министров Украины, а также в других случаях, уста- новленных Таможенным кодексом Укра- ины.
                    </p>
                </div>
                <div class="span1">
                    <%= link_to (image_tag "railroad.jpg"), "/images/railroad_big.jpg", :target => "_blank" %>
                    <%= link_to (image_tag "tpp.jpg"), "/images/autoroad_big.jpg", :target => "_blank" %>
                </div>
            </div>
            <br>
            <div class="row">
                <center>
                <%= link_to "Задать вопрос",
                    {:controller => "ask", :action => "new"}, :class=>"button big bg-color-blueDark", :style => "height: 10px; color: white;" %>
                </center>
                <br>
            </div>
        </div>
    </div>
</div>