<%= render 'shared/services_menu' %>

<div class="page-region">
    <div class="page-region-content">
        <div class="span9">
            <h2><%= t 'geng.title' %></h2>
            <blockquote>
                <strong><%= t 'geng.subtitle' %></strong>
            </blockquote>
            <br>
            <p align="justify">
                <%= t 'geng.p1' %>
            </p>
            <br>
            <div class="row">
                <center>
                    <%= link_to "#{t 'service.send_link'}",
                            "#",
                            :class=>"button big bg-color-blueDark", :style => "height: 10px; color: white;" %>
                </center>
                <br>
            </div>
        </div>
    </div>
</div>