<br>
<div class="page secondary">
<!--     <div style="display: none; position: fixed; height: 100px; width: 100px; padding: 10px; z-index: 10000;" class="bottom-right bg-color-darken fg-color-white">
    </div> -->
<!--             <div class="carousel" style="height: 550px;" data-role="carousel" data-param-effect="fade" data-param-direction="left" data-param-period="7000" data-param-markers="off">
                <div class="slides">
                    <div class="slide image" id="slide11">
                        <%= image_tag "banner.jpg" %>
                        <div class="description">
                            <center>
                            <b>Мы всегда готовы к сотрудничеству на комфортных для Вас условиях.</b>
                        </center>
                        </div>
                    </div>
                </div>
            </div> -->
        <div>
            <%= image_tag "1.jpg" %>
        </div>
        <br>
        <div class="page-region">
            <div class="grid">
                <div class="row">
                    <div class="span6">
                        <ul class="replies" style="margin-left:0">
                            <li class="bg-color-greenDark"  style="width:100%; height:90px;">
                                <%= image_tag "armor.png" %>
                                <div class="reply">
                                    <div class="long-text">
                                        <b>Финансовая гарантия</b>
                                    </div>
                                    <div class="text">
                                        предоставляется таможенным органам Украины как обеспечение уплаты таможенных платежейв случаях, предусмотренных Таможенным кодексом Украины
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="span6">
                        <ul class="replies"  style="margin-left:0">
                            <li class="bg-color-blueDark" style="width:100%; height:90px;">
                                <%= image_tag "shield-user.png" %> 
                                <div class="reply">
                                    <div class="long-text">
                                        <b>Наши представители</b>
                                    </div>
                                    <div class="text">в международных пунктах пропуска через государственную границу Украины обеспечивают круглосуточное предоставление финансовых гарантий в виде документа</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="hero-unit">
                        <h3 align="center"><u>Добро пожаловать на официальный сайт 
коммандитного общества «Донтрансгарант и компания»!</u></h3>

<p align="justify">Коммандитное общество «Донтрансгарант и компания»более 5 лет является независимым финансовым посредником, уполномоченным Государственной таможенной службой Украины на предоставление таможенным органам Украины финансовой гарантии в виде документа.</p>
<p align="justify">Компетентность и богатый опыт высококвалифицированного персонала и уполномоченных представителей коммандитного общества «Донтрансгарант и компания» в международных пунктах пропуска через государственную границу Украины обеспечивают успешную деятельность,лидирующие позиции и активное развитие компании на рынке услуг по предоставлению финансовых гарантий.</p>
<p align="justify">Мы рады предложить Вам индивидуальный подход к каждому договорному партнёру, оптимальную стоимость и круглосуточное предоставление услуг по предоставлению финансовой гарантии по всей территории Украины на высшем уровне.</p> 
<p align="justify">Коммандитное общество «Донтрансгарант и компания» повышает конкурентоспособность своих партнёров путем оптимизации затрат времени на таможенные процедуры и финансовых ресурсов.
Всегда рады сотрудничеству на комфортных для Вас условиях!</p>

                    </div>
                    <div data-param-duration="300" data-param-markers="no" data-role="carousel" class="carousel">
                            <div class="slides" style="height:100px;">
                                <div id="slide1" class="slide" style="left: 0px;" >
                                    <p class="bg-color-blueDark padding20 fg-color-white" align="center">С 2007 года мы являемся независимым финансовым посредником, уполномоченным Государственной таможенной службой Украины на предоставление таможенным органам Украины финансовой гарантии в виде документа.</p>
                                </div>

                                <div id="slide2" class="slide" style="display: block; left: -580px;">
                                    <p class="bg-color-blueDark padding30 fg-color-white" align="center">
                                        Наше сотрудничество формируется на принципах доверия, ответственности и уважения.
                                    </p>
                                </div>

                                <div id="slide3" class="slide" style="display: block; left: -580px;">
                                    <p class="bg-color-blueDark padding20 fg-color-white" align="center">
                                        Мы рады предложить Вам индивидуальный подход к каждому договорному партнёру, доступную стоимость и предоставление услуг по предоставлению финансовойгарантии по всейтерритории Украины на высшем уровне.
                                    </p>
                                </div>

                                <div id="slide4" class="slide" style="display: block; left: -580px;">
                                    <p class="bg-color-blueDark padding20 fg-color-white" align="center">
                                        Мы делаем все возможное, для того, чтобыВы остались довольны качеством предоставляемых нами услуг и стали надежными постоянными партнёрами нашей компании.
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <center>
                        <!-- <div class="button"> -->
                        <%= link_to "Определение стоимости фин. гарантий", 
                            {:controller => "zapros", :action => "new"}, :class=>"button big"
                            %>
                        <!-- </div> -->

                    </center>
                    <br>
                </div>
                <div class="row">
                    <div class="span10">
                        <div class="span3">
                        
                           <h3> <br>Наши партнеры:</h3>
                        </div>
                        <div class="span5 offset1">
                            <%= image_tag "uta_logo.jpg",  :height => "60px;" %>
                            <%= image_tag "brok_logo.jpg",  :height => "60px;" %>
                            <%= image_tag "sv_logo.jpg",  :height => "60px;" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>