<br>
<div class="page secondary">
        <div>
            <%= image_tag "banner2.jpg", :style =>"padding-bottom:15px;" %>
        </div>
        
        <div class="page-region">
            <div class="grid">
                <div class="row"> 
                    <div data-param-duration="300" data-param-markers="no" data-role="carousel" class="carousel">
                            <div class="slides" style="height:80px;">
                                <div id="slide1" class="slide" style="left: 0px;" >
                                    <p class="bg-color-blueDark padding20 fg-color-white" align="center">С 2007 года мы являемся независимым финансовым посредником, уполномоченным Государственной таможенной службой Украины на предоставление таможенным органам Украины финансовой гарантии в виде документа.</p>
                                </div>

                                <div id="slide2" class="slide" style="display: block; left: -580px;">
                                    <p class="bg-color-blueDark padding30 fg-color-white" align="center">
                                        Наше сотрудничество формируется на принципах доверия, ответственности и уважения.
                                    </p>
                                </div>

                                <div id="slide3" class="slide" style="display: block; left: -580px;">
                                    <p class="bg-color-blueDark padding20 fg-color-white" align="center">
                                        Мы рады предложить Вам индивидуальный подход к каждому договорному партнёру, доступную стоимость и предоставление услуг по предоставлению финансовой гарантии по всей территории Украины на высшем уровне.
                                    </p>
                                </div>

                                <div id="slide4" class="slide" style="display: block; left: -580px;">
                                    <p class="bg-color-blueDark padding20 fg-color-white" align="center">
                                        Мы делаем все возможное, для того, чтобы Вы остались довольны качеством предоставляемых нами услуг и стали надежными постоянными партнёрами нашей компании.
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span6">
                        <ul class="replies" style="margin-left:0">
                            <li class="bg-color-greenDark"  style="width:100%; height:90px;">
                                <%= image_tag "armor.png" %>
                                <div class="reply">
                                    <div class="long-text">
                                        <b>Финансовая гарантия</b>
                                    </div>
                                    <div class="text">
                                        предоставляется таможенным органам Украины как обеспечение уплаты таможенных платежейв случаях, предусмотренных Таможенным кодексом Украины
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="span6">
                        <ul class="replies"  style="margin-left:0">
                            <li class="bg-color-blueDark" style="width:100%; height:90px;">
                                <%= image_tag "shield-user.png" %> 
                                <div class="reply">
                                    <div class="long-text">
                                        <b>Наши представители</b>
                                    </div>
                                    <div class="text">в международных пунктах пропуска через государственную границу Украины обеспечивают круглосуточное предоставление финансовых гарантий в виде документа</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="span6">
                        <ul style="margin-left:0" class="accordion" data-role="accordion">
                                <li class="active">
                                    <a href="#" style="color: #fff;">Коротко о нас</a>
                                    <div align="justify">
                                        <h4>Коммандитное общество «Донтрансгарант и компания»</h4>
                                         <p>- с 2007 года является независимым финансовым посредником, уполномоченным Государственной таможенной службой Украины на предоставление финансовых гарантий в виде документа как обеспечение уплаты таможенных платежей.
                                         </p>
                                         <p>
                                         Согласно решению Государственной таможенной службы Украиныот 22.11.2012коммандитное общество«Донтрансгарант и компания» соответствует критериям и требованиям Таможенного кодекса Украины и внесено в реестр гарантов, уполномоченных на предоставлениефинансовыхгарантийтаможенным органам для обеспечения уплаты таможенных платежей.</p>
                                          <p>
Коммандитное общество «Донтрансгарант и компания» имеет более 200 уполномоченных представителей, в том числе в пунктах пропуска через государственную границу Украины, что позволяет обеспечить оперативное предоставление финансовой гарантии в виде документа по всей территории Украины в круглосуточном режиме.
Всегда рады сотрудничеству!

                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" style="color: #fff;">Услуги</a>
                                    <div align="justify">
                                        <p>
                                        Основным видом деятельности коммандитного общества «Донтрансгарант и компания» является <b>предоставление финансовых гарантий в виде документа</b> таможенным органам как обеспечение уплаты таможенных платежей.</p>
                                        <p>
                                        Коммандитное общество «Донтрансгарант и компания» предоставляет услуги по выдаче финансовых гарантий в виде документа таких видов: <b>индивидуальная</b> (одноразовая), <b>многоразовая</b> и <b>генеральная</b>.
                                        </p>
                                        <p>
                                        Предоставление таможенным органам обеспечения уплаты таможенных платежей является обязательным при ввозе на таможенную территорию Украины и/или перемещении территорией Украины проходящим и внутренним транзитом товаров, согласно перечня, утвержденного Кабинетом Министров Украины, а также в других случаях, установленных Таможенным кодексом Украины.   
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" style="color: #fff;">Преимущества работы с нами</a>
                                    <div>
                                        <ul>
                                            <li>индивидуальный подход к каждому договорному партнёру;</li>
                                            <li>доступная стоимость;</li>
                                            <li>высокое качество и оперативность предоставления финансовой гарантии в виде документа;</li>
                                            <li>круглосуточная работа</li>
                                            <li>наличие представителей во всех пунктах пропуска через государственную границу Украины.</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                    </div>
                    <div class="span6" align="justify">
                        <h3 align="center">Добро пожаловать на официальный сайт 
                            коммандитного общества <br/>«Донтрансгарант и компания»!</h3>
                            <p><i>Коммандитное общество «Донтрансгарант и компания» с 2007 года является независимым финансовым посредником, уполномоченным Государственной таможенной службой Украины на предоставление таможенным органам Украины финансовой гарантии в виде документа.</i></p>
                            <p><i>Компетентность и богатый опыт высококвалифицированного персонала и уполномоченных представителей коммандитного общества «Донтрансгарант и компания» в международных пунктах пропуска через государственную границу Украины обеспечивают успешную деятельность, лидирующие позиции и активное развитие компании на рынке услуг по предоставлению финансовых гарантий.</i></p>
                            <p><i>Мы рады предложить Вам индивидуальный подход к каждому договорному партнёру, оптимальную стоимость и круглосуточное предоставление услуг по предоставлению финансовой гарантии по всей территории Украины на высшем уровне.</i></p> 
                            <p><i>Коммандитное общество «Донтрансгарант и компания» повышает конкурентоспособность своих партнёров путем оптимизации затрат времени на таможенные процедуры и финансовых ресурсов.
                            Всегда рады сотрудничеству на комфортных для Вас условиях!</i></p>
                    </div>
                </div>
                
                <div class="row">
                    <center>
                        <%= link_to "Определение стоимости финансовой гарантии", 
                            {:controller => "zapros", :action => "new"}, :class=>"button big bg-color-blueDark", :style => "height: 10px; color: white;" %>
                    </center>
                    <br>
                </div>
                <div class="row">
                    <div class="span2">
                       <h4> <br>Наши партнеры:</h4>
                    </div>
                    <div class="span8">
                        <div class="list">
                            <div class="prev"><img src="/images/prev.jpg" alt="prev" /></div>
                                <div class="part">
                                    <ul>
                                        <li>
                                            <%= link_to( (image_tag "uta_logo.jpg"), "http://www.transgarant.com.ua/" ) %>
                                        </li>
                                        <li>
                                            <%= link_to( (image_tag "brok_logo.jpg"), "http://www.bbs.ua" )%>
                                        </li>
                                        <li>
                                            <%= link_to( (image_tag "providna_logos.gif"), "http://www.providna.ua" )%>
                                        </li>
                                        <li>
                                            <%= link_to( (image_tag "sv_logo.jpg"), "http://www.transfer-sv.md/" )%>
                                        </li>
                                        <li>
                                            <%= link_to( (image_tag "red_logos.gif"), "http://www.plaske.ua" )%>
                                        </li>
                                        <li>
                                            <%= link_to( (image_tag "bsss_logo.gif"), "http://www.bsss-group.com.ua/" )%>
                                        </li>
                                        <li>

                                            <%= link_to( (image_tag "navibull_logo.gif"), "#" )%>
                                        </li>
                                        <li>
                                            <%= link_to( (image_tag "transgarant_logos.gif"), "http://www.transgarant.com.ua/", )%>
                                        </li>
                                    </ul>
                                </div>
                            <div class="next"><img src="/images/next.jpg" alt="next" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>