<div class="page-sidebar" style="width:225px;">
    <ul style="overflow: visible;">
        <li class="sticker sticker-color-blueDark"><a href="/page/presentation">Презентация</a></li>
        <li class="sticker sticker-color-green"><a href="/page/partners">Наши партнеры</a></li>
        <li class="sticker sticker-color-blueDark"><a href="/page/represent">Наши представители</a></li>
        <li class="sticker sticker-color-green"><a href="/page/become_partner">Как стать партнером</a></li>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="span9">
            <h2>О нас и наших партнерах</h2>
            <blockquote>
                <strong>Наши партнеры</strong>
            </blockquote>
            <div class="row">
                <div class="span8">
                    <div class="list">
                        <div class="prev"><img src="/images/prev.jpg" alt="prev" /></div>
                            <div class="part">
                                <ul>
                                    <li>
                                        <%= link_to( (image_tag "uta_logo.jpg", :width=>"103px"), "http://www.transgarant.com.ua/" ) %>
                                    </li>
                                    <li>
                                        <%= link_to( (image_tag "brok_logo.jpg", :width=>"103px"), "http://www.bbs.ua" )%>
                                    </li>
                                    <li>
                                        <%= link_to( (image_tag "providna_logos.gif"), "http://www.providna.ua" )%>
                                    </li>
                                    <li>
                                        <%= link_to( (image_tag "sv_logo.jpg", :width=>"103px"), "http://www.transfer-sv.md/" )%>
                                    </li>
                                    <li>
                                        <%= link_to( (image_tag "red_logos.gif", :width=>"103px"), "http://www.plaske.ua" )%>
                                    </li>
                                    <li>
                                        <%= link_to( (image_tag "bsss_logo.gif" , :width=>"103px"), "http://www.bsss-group.com.ua/" )%>
                                    </li>
                                    <li>
                                        <%= link_to( (image_tag "navibull_logo.jpg" , :width=>"103px"), "#" )%>
                                    </li>
                                    <li>
                                        <%= link_to( (image_tag "tgua_logo.jpg" , :width=>"103px"), "http://www.transgarant.com.ua/" )%>
                                    </li>
                                </ul>
                            </div>
                        <div class="next"><img src="/images/next.jpg" alt="next" /></div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>