<div class="page-sidebar" style="width:220px;">
    <ul style="overflow: visible;">
        <li class="sticker sticker-color-blueDark"><a href="/page/presentation">Презентация</a></li>
        <li class="sticker sticker-color-blue"><a href="/page/partners">Наши партнеры</a></li>
        <li class="sticker sticker-color-green"><a href="/page/represent">Наши представители</a></li>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="span9">
            <h2>О нас и наших партнерах</h2>
            <div class="row">
                        <div class="span3">
                           <h3> <br>Наши партнеры:</h3>
                        </div>
                        <center>
                            <%= link_to( (image_tag "uta_logo.jpg",  :style=>"padding-left: 15px;", :height => "60px;"), "http://www.transgarant.com.ua/" ) %>
                            <%= link_to( (image_tag "brok_logo.jpg",  :style=>"padding-left: 15px;",:height => "60px;"), "http://www.bbs.ua" )%>
                            <%= link_to( (image_tag "sv_logo.jpg",  :style=>"padding-left: 15px;",:height => "60px;"), "http://www.transfer-sv.md/" )%>
                            <%= link_to( (image_tag "red_logos.gif",  :style=>"padding-left: 15px;",:height => "60px;"), "http://www.plaske.ua" )%>
                            <%= link_to( (image_tag "bsss_logo.gif",  :style=>"padding-left: 15px;",:height => "60px;"), "http://www.bsss-group.com.ua/" )%>
                        </center>
                </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>