<div class="page-sidebar" style="width:225px;">
    <ul style="overflow: visible;">
        <%= render 'shared/services_menu' %>
    </ul>
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="span9">
            <h2><%= t 'service.title' %></h2>
            <p align="justify"><%= t 'service.p1' %>
            <ul>
                <li><%= t 'service.pl1' %></li>
                <li><%= t 'service.pl2' %></li>
            </ul>
            </p>
            <p align="justify">
                <%= t 'service.p2' %>
            </p>
            <p align="justify">
                <%= t 'service.p3' %>
            </p>
            <p align="justify">
                <%= t 'service.p4' %>
            </p>
            <br>
            <div class="row">
                <center>
                   <%= link_to "#{t 'service.send_link'}", {:controller => "zapros", :action => "new"},
                        :class=>"button big bg-color-blueDark", :style => "height: 10px; color: white;" %>
                </center>
                <br>
            </div>
        </div>
    </div>
</div>