<center>
	<i><h3>Уважаемый партнёр!</h3></i>
	Коммандитное общество "Донтрансгарант и компания" выражает Вам своё почтение и благодарность за сотрудничество.<br/>
	С целью улучшения работы в направлении создания комфортных условий сотрудничества для договорных партнёров просим Вас оценить работу нашей компании по указанным ниже критериям:
</center>
<br/>
<%= simple_form_for @anketa, :url => {:action => 'create'} do |f| %>
	1. Качество предоставления услуг по выдаче финансовой гарантии в виде документа:
  <%= f.input :quest_1, :label => "", :collection => 1..5, :as => :radio, input_html: { class: '' } %>
  2. Оперативность предоставления услуг по выдаче финансовой гарантии в виде документа:
  <%= f.input :quest_2, :label => "", :collection => 1..5, :as => :radio %>
  3. Компетентность персонала КО «Донтрансгарант и Компания»:
  <%= f.input :quest_3, :label => "", :collection => 1..5, :as => :radio %>
  4. Этика персонала КО «Донтрансгарант и Компания»:
  <%= f.input :quest_4, :label => "", :collection => 1..5, :as => :radio %>
  5. Качество взаимодействия с уполномоченными представителями КО «Донтрансгарант и Компания»:
  <%= f.input :quest_5, :label => "", :collection => 1..5, :as => :radio %>
	<br/>  
  6. Ваши пожелания и замечания:
  <div class="row">
		<div class="span10">
			<div class="input-control textarea">
				<%= f.text_area :wishes, :rows => "5" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span3">Ваше имя*:</div>
		<div class="input-control text span5">
	 		<%= f.text_field :pib %>
	 	</div>
	</div>
  <div class="row">
		<div class="span9">Наименование юридического лица, интересы которого Вами представлены*:</div>
		<div class="input-control text span5">
	 		<%= f.text_field :uaddr %>
	 	</div>
	</div>

	<div class="row">
		<div class="span7">Номер телефона и/или e-mail*:</div>
		<div class="input-control text span5">
	 		<%= f.text_field :contacts %>
	 	</div>
	</div>
  <%= submit_tag "Отправить", class: "default" %>
<% end %>
<center>
	<h3>
		<i>
			Благодарим за предоставленную информацию,<br/>
			Ваше мнение очень важно для нас!
		</i>
	</h3>

</center>

