	<div class="page-region-content">
<center>

	<br>
	<i><h3><%= t 'op.title' %></h3></i>
	<h4><%= t 'op.p1' %><br/><%= t 'op.p2' %></h4>
</center>
<br/>
<%= simple_form_for @anketa, :url => {:action => 'create'} do |f| %>
	<h4><%= t 'op.q1' %>
  <%= f.input :quest_1, :label => "", :collection => 1..5, :as => :radio, input_html: { class: 'input-control radio' } %></h4>
  <h4><%= t 'op.q2' %>
  <%= f.input :quest_2, :label => "", :collection => 1..5, :as => :radio, input_html: { class: 'input-control radio' } %></h4>
  <h4><%= t 'op.q3' %>
  <%= f.input :quest_3, :label => "", :collection => 1..5, :as => :radio, input_html: { class: 'input-control radio' } %></h4>
  <h4><%= t 'op.q4' %>
  <%= f.input :quest_4, :label => "", :collection => 1..5, :as => :radio, input_html: { class: 'input-control radio' } %></h4>
  <h4><%= t 'op.q5' %>
  <%= f.input :quest_5, :label => "", :collection => 1..5, :as => :radio, input_html: { class: 'input-control radio' } %></h4>
	<br/>
  <h4><%= t 'op.q6' %></h4>
  <div class="row">
		<div class="span10">
			<div class="input-control textarea">
				<%= f.text_area :wishes, :rows => "5" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span9"><h4><%= t 'op.name' %></h4></div>
		<div class="input-control text span5">
	 		<%= f.text_field :pib %>
	 	</div>
	</div>
  <div class="row">
		<div class="span9"><h4><%= t 'op.naim' %></h4></div>
		<div class="input-control text span5">
	 		<%= f.text_field :uaddr %>
	 	</div>
	</div>

	<div class="row">
		<div class="span9"><h4><%= t 'op.phone' %></h4></div>
		<div class="input-control text span5">
	 		<%= f.text_field :contacts %>
	 	</div>
	</div>
	<center>
  	<%= submit_tag "#{t 'op.but_send'}", class: "default" %>
	</center>
<% end %>
<center>
	<h3>
		<i>
			<%= t 'op.bless1' %><br/>
			<%= t 'op.bless2' %>
		</i>
	</h3>

</center>
</div>


