<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    
    <center><h3>Вы получили заполенную пользоватлем <%= @anketa.pib %> анкету</h3></center><br/>

    1. Качество предоставления услуг по выдаче финансовой гарантии в виде документа:
    <h4><%= @anketa.quest_1 %></h4>
    2. Оперативность предоставления услуг по выдаче финансовой гарантии в виде документа:
    <h4><%= @anketa.quest_2 %></h4>
    3. Компетентность персонала КО «Донтрансгарант и Компания»:
    <h4><%= @anketa.quest_3 %></h4>
    4. Этика персонала КО «Донтрансгарант и Компания»:
    <h4><%= @anketa.quest_4 %></h4>
    5. Качество взаимодействия с уполномоченными представителями КО «Донтрансгарант и Компания»:
    <h4><%= @anketa.quest_5 %></h4>
    6. Ваши пожелания и замечания:
    <h4><%= @anketa.wishes %></h4>
    Имя*:
    <h4><%= @anketa.pib %></h4>
    Наименование юридического а, интересы которого Вами представлены*:
    <h4><%= @anketa.uaddr %></h4>
    Номер телефона и/или e-mail*:
    <h4><%= @anketa.contacts %></h4>

  </body>
</html>