<div class="page">
  <div class="page-region-content">
		<div class="row">
			<center>
				<h2>
					Редактирование "Таможенного режима"
				</h2>
			</center>
			<div class="row">
				<div class="span11">
					<br/>
					<br/>
					<center>
						<%= form_for( @tr, :url => {:action => 'update', :id => @tr.id} ) do |f| %>
							<div class="input-control text span4">
						 		<%= f.text_field :name %>
						 	</div>
						 	<br/>
						 	<%= f.select :lang, { "RU" => "ru", "EN" => "en"} %>
					 		<br/>
					 		<br/>
							<%= submit_tag "Сохранить", class: "default" %>
              <%= link_to "Отмена", {:controller => "tr", :action => "list"}, :class=>"button big bg-color-blueDark", :style => "color: white;" %>
						<% end  %>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>
