<div class="page">
  <div class="page-region-content">
		<div class="row">
			<center>
        <h3>Редактировать рубрику "Частые вопросы"</h3>
        <%= link_to "Создать", {:controller => "faq", :action => "new"}, :class=>"button big bg-color-blueDark", :style => "height: 10px; color: white;" %>
      </center>
			<table border="1" width="100%">
			<!-- <thead> -->
        <tr>
          <th border="1"><center><b>№</b></center></th>
          <th border="1"><center><b>Вопрос</b></center></th>
          <th border="1"><center><b>Создан</b></center></th>
          <th border="1"><center><b>Опубликован</b></center></th>
        </tr>
      <!-- </thead> -->
      <% @faq.each do |f|  %>
      	<tr>
      		<td border="1"><center><%= f.id %>.</center></td>
          <% str = f.quest%>
      		<td border="1"><%= str[0..85]%>...</td>
      		<td border="1"><center><%= f.created_at%></center></td>
      		<td border="1"><center><%= status(f.visible)%></center></td>
      		<td border="1"><center>
              <%= link_to( "Показать",  :controller => 'faq', :action=>'show', :id => f.id ) %></center>
            </td>
            <td border="1"><center>
              <%= link_to( "Редактировать", :controller => 'faq', :action=>'edit',:id => f.id ) %></center>
            </td>
            <!-- <td>
              <center>
                <%#= link_to( "у", f, :method => :delete, :confirm => "Вы уверены?") %>
              </center>
            </td> -->
      	</tr>
    	<% end %>
    	</table>
			
		</div>
	</div>
</div>
<br/>
<br/>
<br/>
<br/>