<div class="page">
  <div class="page-region-content">
		<div class="row">
			<center><h3>Новый вопрос-ответ</h3></center>
			<fieldset>
			<%= form_for(:faq, :url => {:action => 'create'}) do |f| %>
			 	<div class="grid">
					
						<div class="row">
							<h5>Вопрос:</h5>
								<div class="span10">
									<div class="input-control textarea">
										<%= f.text_area :quest, :rows => "2" %>
									</div>
								</div>
							</div>
					
						<div class="row">
							<h5>Ответ:</h5>
							<div class="span10">
								<div class="input-control textarea">
									<%= f.text_area :answer, :rows => "5" %>
								</div>
							</div>
						</div>
						<h4><%= f.check_box(:visible) %>Опубликовать</h4>
						<div class="place-right" style="margin-right: 122px;">
							<%= submit_tag "Создать", class: "default" %>
							<%= link_to "Отмена", {:controller => "faq", :action => "list"}, :class=>"button big bg-color-blueDark", :style => "height: 10px; color: white;" %>
						</div>

					</div>
				</div>
			<% end %>
			</fieldset>
		</div>
	</div>
</div>
<br/>
<br/>
<br/>
<br/>