<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Донтрансгарант и Компания</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <script src="/js/jquery-1.8.2.min.js"></script>
</head>
<body class="modern-ui">
    <div class="page">
        <div class="grid" style="margin: 0;">
            <div class="row">
                <div class="span12">
                    <div class="span5">
                       <a href="/page/index"><%= image_tag "banner_up.gif" ,:height =>"70px;"%></a>
                    </div>
                    <div class="span7">
                        <div class="row">
                            <div class="place-right">
                            г. Киев, просп. Московский 16-Б, корп.5, 2 этаж
                            </div>
                        </div>
                        <div class="row">
                            <div class="place-right">
                                <i class="icon-contact"></i>+38 044 500 92 68<br>
                                <i class="icon-documents-1"></i>+38 044 581 08 68<br>
                                <i class="icon-vibrate-1"></i>+38 067 332 10 40
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="navigation-bar">
            <div class="navigation-bar-inner" style="padding: 5px 0px 2px; margin: auto;">
                   <a href="/page/index"><%= image_tag "globe_w3.png", :style => "padding: 5px; height: 40px; float: left;"%></a>
                <ul style="overflow: visible;">
                    <li><a href="/page/about">О нас и наших партнерах</a></li>
                    <li><a href="/page/services">Услуги</a></li>
                    <li><a href="/page/dopinfo">Дополнительная информация</a></li>
                    <li><a href="/page/contacts">Контакты</a></li>
                      <li class="place-right"><a href="/page/partners_login" style="padding:5px;" class="fg-color-orange">Зона партнеров</a></li>
                </ul>
            </div>
        </div>
    
    </div>
    

<%= yield %>

<div class="page-footer">
    <br/>
    <div class="row">
        <div class="span12" style="margin:auto;">
            <ul class="footer-menu">
                <li><b>О нас и наших партнерах</b>
                    <ul class="footer-submenu">
                        <li><a href="/">Презентация</a></li><br>
                        <li><a href="/">Наши партнеры</a></li><br>
                        <li><a href="/">Наши представители</a></li><br>
                    </ul>
                </li>
                <li style="margin-left: 40px;"><b>Услуги</b>
                    <ul class="footer-submenu">
                        <li><a href="/">Индивидуальная гарантия</a></li><br>
                        <li><a href="/">Многоразовая гарантия</a></li><br>
                        <li><a href="/">Генеральная гарантия</a></li><br>
                    </ul>
                </li>
                <li style="margin-left: 40px;"><b>Дополнительная информация</b></li>
                <li class="place-right" style="color: #1E7145"><b>Зона партнеров</b></li>
            </ul>


      <!--       <div class="span3 place-left"><a class="fg-color-blueDark" href="/page/about"><b>О нас и наших партнерах</b></a></div>
            <div class="span3 place-left" align="left">
                <a class="fg-color-blueDark" href="/page/services"><b>Услуги</b></a>
                    
            </div>
            <div class="span4 place-left">
                <a class="fg-color-blueDark" href="/page/dopinfo"><b>Дополнительная информация</b></a>
            </div>
            <div class="span2 place-right">
                <a class="fg-color-greenDark" href="/page/partners"><b>Зона</b></a>
            </div> -->
            <br><br><br><br><br>
            <hr>
            <div class="place-left">
                <p class="tertiary-secondary-text">Командитное товоарищество  <b>ДОНТРАНСГАРАНТ и компания &copy; </b>2012</p>
            </div>
            <div class="place-right">
                <p class="tertiary-secondary-text" align="left"><b><u>КОНТАКТЫ:</u></b>
                    <br>04073, Украина г. Киев<br>
                    пр-т. Московский, 16-Б, корп.5, 2-й этаж<br>
                    <span class="icon-contact"></span>+38 044 500 92 68<br>
                    <span class="icon-documents-1"></span>+38 044 581 08 68<br>
                    <span class="icon-vibrate-1"></span>+38 067 332 10 40<br>
                    <span class="icon-mail"></span><a href="mailto:dtg@dtg.kiev.ua" class="tertiary-secondary-text">dtg@dtg.kiev.ua</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script src="/js/dropdown.js"></script>
<script src="/js/carousel.js"></script>
<script src="/js/accordion.js"></script>
</body>
</html>