<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><%= t 'index.title' %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application", "rails.validations" %>
    <%= csrf_meta_tags %>
    <script src="/js/jquery-1.8.2.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jcarousellite_1.0.1.pack.js"></script>
    <script type="text/javascript" src="/js/captify.tiny.js"></script>
    <script>
        $(function() {
            $( "#datepicker" ).datepicker( { dateFormat: 'dd-mm-yy' } );
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#yes").click(function(){
                if ($("#yes").is(":checked")){
                    document.getElementById("no").checked = false;
                    $("#contract_numder").show();
                }
                else{
                    $("#contract_numder").hide();
                }
            });
            $("#no").click(function(){
                if ($("#no").is(":checked")){
                    document.getElementById("yes").checked = false;
                    $("#contract_numder").hide();
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $(".part").jCarouselLite({
                btnNext: ".next",
                btnPrev: ".prev",
                visible: 5
            });
        });

        $(document).ready(function(){
            $('img.captify').captify({
                // all of these options are... optional
                // ---
                // speed of the mouseover effect
                speedOver: 'fast',
                // speed of the mouseout effect
                speedOut: 'normal',
                // how long to delay the hiding of the caption after mouseout (ms)
                hideDelay: 500,
                // 'fade', 'slide', 'always-on'
                animation: 'slide',
                // text/html to be placed at the beginning of every caption
                prefix: '',
                // opacity of the caption on mouse over
                opacity: '0.7',
                // the name of the CSS class to apply to the caption box
                className: 'caption-bottom',
                // position of the caption (top or bottom)
                position: 'bottom',
                // caption span % of the image
                spanWidth: '100%'
            });
        });
    </script>
</head>
<body>
    <div class="grid">
        <div class="wrapper">
            <%#=render "shared/header"%>
            <%= yield %>
            <div class="push"></div>
        </div>
        <%#=render "shared/footer"%>
    </div>
    <script src="/js/dropdown.js"></script>
    <script src="/js/carousel.js"></script>

</body>
</html>