<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title><%= t 'index.title' %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <script src="/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/js/jcarousellite_1.0.1.pack.js"></script>
    <script type="text/javascript" src="/js/captify.tiny.js"></script>

    <script type="text/javascript">
        $(function() {
            $(".part").jCarouselLite({
                btnNext: ".next",
                btnPrev: ".prev",
                visible: 5
            });
        });

        $(document).ready(function(){
            $('img.captify').captify({
                // all of these options are... optional
                // ---
                // speed of the mouseover effect
                speedOver: 'fast',
                // speed of the mouseout effect
                speedOut: 'normal',
                // how long to delay the hiding of the caption after mouseout (ms)
                hideDelay: 500,
                // 'fade', 'slide', 'always-on'
                animation: 'slide',
                // text/html to be placed at the beginning of every caption
                prefix: '',
                // opacity of the caption on mouse over
                opacity: '0.7',
                // the name of the CSS class to apply to the caption box
                className: 'caption-bottom',
                // position of the caption (top or bottom)
                position: 'bottom',
                // caption span % of the image
                spanWidth: '100%'
            });
        });

    </script>
</head>
<body class="modern-ui bloc">
    <div class="page">
        <div class="grid" style="margin: 0;">
            <div class="row">
                <!-- <div class="span12"> -->
                    <div class="span5">
                       <a href="/page/index"><%= image_tag "banner_up.png" ,:height =>"85px;"%></a>
                    </div>
                    <div class="span7"  style="margin:0;">
                        <div class="row">
                            <div class="place-right">
                                <%= t 'index.adress' %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="place-right">
                                <i class="icon-contact"></i>+38 044 500 92 68<br>
                                <i class="icon-documents-1"></i>+38 044 581 08 68<br>
                                <i class="icon-vibrate-1"></i>+38 067 332 10 40<br>
                                <a class ="hrf" href="http://facebook.com/dontransg" target="_blank"><i class="b-share-icon b-share-icon_facebook"></i></a>
                                <%= link_to "EN", :controller => "page", :action => "set_en" %>
                                <%= link_to "RU", :controller => "page", :action => "set_ru" %>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
        <div class="navigation-bar">
            <div class="navigation-bar-inner" style="padding: 5px 0px 2px; margin: auto;">
                   <a href="/page/index"><%= image_tag "globe_w3.png", :style => "padding: 5px; height: 40px;width: 45px;float: left;"%></a>
                <ul style="overflow: visible;">
                    <li><a href="/page/about"><%= t 'index.menu.partners' %></a></li>
                    <li><a href="/page/services"><%= t 'index.menu.services' %></a></li>
                    <li><a href="/page/dopinfo"><%= t 'index.menu.addinfo' %></a></li>
                    <li><a href="/page/contacts"><%= t 'index.menu.contacts' %></a></li>
                    <li class="place-right"><a href="/page/partners_login" style="padding:5px;" class="fg-color-orange"><%= t 'index.menu.part_zone' %></a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="page secondary with-sidebar">
    <div style="display: none; position: fixed; height: 100px; width: 100px; padding: 10px; z-index: 10000;" class="bottom-right bg-color-darken fg-color-white">
    </div>
    <%= yield %>
</div>

<div class="page-footer" >
    <br/>
    <div class="row">
        <div class="span12" style="margin:auto;">
            <ul class="footer-menu">
                <li><b><%= t 'index.menu.partners' %></b>
                    <ul class="footer-submenu">
                        <li><a href="/page/presentation"><%= t 'secondary.menu.present' %></a></li><br>
                        <li><a href="/page/partners"><%= t 'secondary.menu.partners' %></a></li><br>
                        <li><a href="/page/represent"><%= t 'secondary.menu.represent' %></a></li><br>
                        <li><a href="/page/become_partner"><%= t 'secondary.menu.bec_part' %></a></li><br>
                    </ul>
                </li>
                <li style="margin-left: 40px;"><b>Услуги</b>
                    <ul class="footer-submenu">
                        <li><a href="/page/singleg">Индивидуальная гарантия</a></li><br>
                        <li><a href="/page/multig">Многоразовая гарантия</a></li><br>
                        <li><a href="/page/geng">Генеральная гарантия</a></li><br>
                    </ul>
                </li>
                <li style="margin-left: 40px;"><b>Дополнительная информация</b>
                    <ul class="footer-submenu">
                        <li><%= link_to "Частые вопросы", :controller => "page", :action => 'faq' %></li><br>
                        <li><%= link_to "Нормативно-правовые акты", "/page/zakon"%></li><br>
                        <li><%= link_to "Наши представители", "/page/represent"%></li><br>
                        <li><%= link_to "Задать вопрос", "/ask/new"%></li><br>
                    </ul>
                </li>
                <li class="place-right fg-color-orange"><b>Зона партнеров</b>
                    <ul class="footer-submenu">
                        <li><a href="/page/partners_login">Вход для партнеров</a></li><br>
                    </ul>
                </li>
            </ul>
     
            <br><br><br><br><br><br>
            <hr width="100%">
            <div class="place-left">
                <p class="tertiary-secondary-text">Коммандитное общество  <b>ДОНТРАНСГАРАНТ и компания &copy; </b>2012</p>
            </div>
            <div class="place-right">
                <p class="tertiary-secondary-text" align="left"><b><u>КОНТАКТЫ:</u></b>
                    <br>04073, Украина г. Киев<br>
                    просп. Московский, 16-Б, корп.5, 2-й этаж<br>
                    <span class="icon-contact"></span>+38 044 500 92 68<br>
                    <span class="icon-documents-1"></span>+38 044 581 08 68<br>
                    <span class="icon-vibrate-1"></span>+38 067 332 10 40<br>
                    <span class="icon-mail"></span><a href="mailto:dtg@dtg.kiev.ua" class="tertiary-secondary-text">dtg@dtg.kiev.ua</a><br>
                    <a class ="hrf" href="http://facebook.com/dontransg" target="_blank"><i class="b-share-icon b-share-icon_facebook"></i></a>
                    <br>
                </p>
            </div>
        </div>
    </div>
</div>
<script src="/js/dropdown.js"></script>
<script src="/js/carousel.js"></script>
<script src="/js/accordion.js"></script>
</body>
</html>